"""
.. include:: ../README.md
"""

from typing import overload

import click
import validators

from .decorator import click_validatortype

{% for validator in validators %}
@overload
def {{ validator.name }}({{ validator.params }}) -> click.ParamType:
    """{{ validator.docstring }}"""
    ...

{{ validator.name }} = click_validatortype(validators.{{ validator.name }})
"""A custom parameter type derived from `click.types.ParamType` that uses the `validators.{{ validator.name }}` function."""
{% endfor %}

__all__ = [
    {% for validator in validators %}
    "{{ validator.name }}",
    {% endfor %}
]
